# Configuration for the IdentityProvider (IdP) which the reference app will use for authentication and authorization.
IDP_URL=https://ess.gat.rr-wfm.com/identity
IDP_CLIENT_ID=your-client-id
IDP_CLIENT_SECRET=your-client-secret
IDP_SCOPE=openid ess offline_access
IDP_ACR_VALUES=
IDP_REDIRECT_URI=http://localhost:5173/auth/callback

# Base URL for the Employee Self-Service (ESS) system that the reference app will interact with.
ESS_BASE_URL=https://ess.gat.rr-wfm.com

# Server configuration for receiving webhooks from ESS. These values only matter if you want to test the webhook functionality of the reference app.
BUN_SERVER_PORT=3001
WEBHOOK_API_KEY=replace-with-long-random-secret